{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>About Me!</title>
</head>
<style>
    body {background-color: #93C47D;}
</style>
<body>

    <center><h1>About me</h1></center>
    <p><center>Hi! I like math and computer science.</center></p>
<p><a href="/">Back to Homepage</a></p>
<h2>About Me</h2>
<p>My name is Timothy Ha, and I am currently a 7th grader attending Tejeda Middle School in San Antonio, TX. I like math and computer science.</p>
<h2>Math</h2>
<p>Geometry > Number Theory > Algebra > Combinatorics is my preference of subjects.</p>
<p>I have partcipated in MATHCOUNTS and AMC 8, and am planning to participate in the AMC 10 in the coming school year (8th grade year)</p>
<h2>Programming</h2>
<p>Python is my main language. This website is my first project, built using Django.</p>
<p>For USACO, I use both Python and C++.</p>
<h2>Awards</h2>
<p>picoCTF 2023 US Middle School Division winner</p>
<p>TMSCA State 6A Division- 4th Calculator (6th grade), 19th Number Sense (6th grade), 2nd Calculator (7th grade)</p>
<p>MATHCOUNTS State Qualification, Top 25% (achieved in 7th grade)</p>
<h2>Contact Info</h2>
<p>You can contact me at <b>turtelohnien@gmail.com</b>.</p>

</body>
</html>
