<!DOCTYPE html>
<html>
<body>
<head>
    <title>Timothy Ha's Website</title>
</head>
<style>
    body {background-color: #93C47D;}
</style>

<center><h1>Homepage</h1></center>
<center>Welcome to my website! This was built using the Django Web Framework, and I just do whatever I feel like doing on here.</center>
<h2>About Me</h2>
<p><a href="/aboutme">Here's my "About Me" page.</a></p>
<h2>Chat Rooms</h2>
<p><a href="/chat">Link to Chatting Rooms</a></p>
<h4>About the Chat Rooms</h4>
<p>I used an <a href="https://testdriven.io/blog/django-channels/">online tutorial</a> to make the chatting feature. It is still in progress.</p>
<p>I am currently not accepting new users for this feature.</p>
<br>
<p>Last Update: May 14, 2023</p>